@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Telis Cosams<br />
    Peabody, MA 01960<br />
    <abbr title="Phone">P:</abbr>
    781-4 TWO 0-044 TWO
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:telisck@yahoo.com">telisck@yahoo.com</a><br />
</address>