@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Button1").click(function () {
            $("#Button1").css("background-color", "yellow");
        });
        $("#Button2").click(function () {
            $.ajax({
                url: "./Home/SaySomething/",
                context: document.body
            }).done(function (msg) {
                $('#Button2').prop('value', msg)
            });
        });
        $("#Button3").click(function () {
            $.ajax({
                dataType: "json",
                url: "../api/BookWebApi",
                context: document.body
            }).done(function (data) {
                var items = [];
                $.each(data, function (key, val) {
                    items.push("<li id='" + key + "'>" + "Book Title= " +val.Title +  " Publish Year= " + val.publishYear +  "</li>");
                });

                $("<ul/>", {
                    "class": "my-new-list",
                    html: items.join("")
                }).appendTo($("#book_list"));
            });
        });
    });
</script>
<div class="jumbotron">
    <h4>Telis Cosmas </h4> 
    <h3>MVC </h3>
    <h3>Entity Framework(Code First)</h3> 
    <h3>Microsoft Azure </h3>
    <p><a href="~/Customer" class="btn btn-primary btn-lg">Goto Customer CRUD - Pagenated grid - Searchable &raquo;</a></p>
    <p><a href="~/Author" class="btn btn-primary btn-lg">Goto Authors CRUD &raquo;</a></p>
    <p><a href="~/Book" class="btn btn-primary btn-lg">Goto Books CRUD &raquo;</a></p>
    <p><a href="~/Publisher" class="btn btn-primary btn-lg">Goto Publisher CRUD &raquo;</a></p>
</div>
<div class="jumbotron">
    <div class="book-list" id="book_list"></div>
    <h2>JQuery etc</h2>
    <input id="Button3" type="button" value="JQuery Ajax calling Web API get Books" class="btn btn-primary btn-lg" />
    <input id="Button2" type="button" value="JQuery Ajax calling Web API" class="btn btn-primary btn-lg" />
    <input id="Button1" type="button" value="JQuery test change CSS" class="btn btn-primary btn-sm btnChangeColor" />
</div>
<div class="jumbotron">
    <p><a href="http://github.com/telisc/Bookstore.git" class="btn btn-primary btn-lg">Goto GitHub&raquo;</a></p>
</p>
</div>